<div class="row">
	<div class="col-lg-12">
    <center><a href="#/propuestas"><img class="iconsSocial" src="/img/propuestas.png" /></a></center>
    <center class="vote">{{votes}}&nbsp;&nbsp;<span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="vote(-1,pro.id)"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="vote(1,pro.id)"></span></center>
    <p class="busqueda">{{pro.title}} </p>
    <p class="propuestaList">
      <b>Objetivo</b><br/>
      {{pro.object}}
    <p class="propuestaList">
      <b>Finalidad</b><br/> 
      {{pro.finality}}
    </p>
    <p class="propuestaList">
      <b>Ambito:</b> {{scope.name}}<br/>
      <b>Tem&aacute;tica:</b> {{subject.name}}
    </p>    
  </div>
</div>